@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-rows: 217px auto 150px;
    grid-template-columns: 81% 19%;
  }
}

.l-header {
  grid-column: 1/2;
  grid-row: 1/2;
}

.l-footer {
  grid-column: 1/3;
  grid-row: 3/4;
}

.l-main {
  grid-row: 2/3;
  grid-column: 1/2;
}

.l-sideber {
  grid-column: 2/3;
  grid-row: 1/3;
}

.p-header {
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1250px) {
  .p-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
@media screen and (max-width: 1025px) {
  .p-header {
    height: 217px;
  }
}
.p-header a {
  display: none;
}
@media screen and (max-width: 1025px) {
  .p-header a {
    display: inline;
    position: absolute;
    font-size: 34px;
    top: 20px;
    right: 20px;
    color: #707070;
    text-decoration: none;
  }
}
@media screen and (max-width: 1025px) and (max-width: 600px) {
  .p-header a {
    font-size: 20px;
  }
}

.p-header h2 {
  color: #707070;
  font-size: 64px;
  font-family: "Roboto";
  width: 325px;
  height: 84px;
  margin-left: 65px;
}
@media screen and (max-width: 1250px) {
  .p-header h2 {
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 1025px) {
  .p-header h2 {
    font-size: 40px;
  }
}

.p-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
}
@media screen and (max-width: 600px) {
  .p-search-form {
    margin: 0 auto;
  }
}
.p-search-form__forms {
  border: 1px solid #707070;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 396px;
  height: 46px;
  /* アイコンを設置するため左の余白を多めに指定*/
}
@media screen and (max-width: 600px) {
  .p-search-form__forms {
    width: 300px;
  }
}
.p-search-form__megane {
  background: url("../images/megane.png") no-repeat top 11px left 11px;
  /* 背景にアイコン画像を配置 */
  padding-left: 40px;
  background-color: #FFFFFF;
}
.p-search-form__words {
  font-size: 16px;
  width: 136px;
  height: 46px;
  text-align: center;
  color: #707070;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-left: 13px;
}
@media screen and (max-width: 600px) {
  .p-search-form__words {
    width: 100px;
  }
}

/*虫眼鏡ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.p-search-form::before {
  content: "";
  /* 疑似要素に必須 */
  width: 24px;
  /* アイコンの横幅 */
  height: 24px;
  /* アイコンの高さ */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  top: 11px;
  /* アイコンの位置。微調整してね */
  left: 12px;
  /* アイコンの位置。微調整してね */
}

.p-dammy {
  width: 100%;
  height: 530px;
  background-image: url("../images/dammy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 600px) {
  .p-dammy {
    height: 375px;
  }
}
.p-dammy h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 86px;
}

.p-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
@media screen and (max-width: 600px) {
  .p-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-text-take-out {
  width: 40%;
  min-height: 1193px;
  background-image: url(../images/tububargar.png);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
  /*@media screen and (max-width:1265px) {
      width: 380px;
  }
  @media screen and (max-width:1025px) {
      width: 466px;
  }
  @media screen and (max-width:963px) {
      width: 340px;   
  }*/
}
@media screen and (max-width: 600px) {
  .p-text-take-out {
    margin-left: initial;
    width: 466px;
  }
}
.p-text-take-out h1 {
  margin-top: 20px;
  margin-left: 14px;
  font-size: 80px;
  font-weight: bold;
  color: #EAEAEA;
}
@media screen and (max-width: 963px) {
  .p-text-take-out h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .p-text-take-out h1 {
    font-size: 80px;
  }
}
.p-text-take-out h1::after {
  content: "";
  background-color: #ffffff;
  border: #ffffff;
  width: 57px;
  height: 5px;
  display: block;
  margin-top: 57px;
  margin-left: 12px;
}
.p-text-take-out__sec1 {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 711px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 16px;
  width: 90%;
  min-height: 166px;
  /*@media screen and (max-width:1265px) {
      width: 360px;
  }
  @media screen and (max-width:1025px) {
      width: 436px;
  }
  @media screen and (max-width:963px) {
      width: 280px;

  }
  @media screen and (max-width:600px) {
      width: 436px;
  }*/
}
.p-text-take-out__sec1 h2 {
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 9px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.p-text-take-out__sec1 p {
  display: block;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 10px;
}
.p-text-take-out__sec2 {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 16px;
  width: 90%;
  min-height: 166px;
  /*@media screen and (max-width:1265px) {
      width: 360px;
  }
  @media screen and (max-width:1025px) {
      width: 436px;
  }
  @media screen and (max-width:963px) {
      width: 280px;

  }
  @media screen and (max-width:600px) {
      width: 436px;
  }*/
}
.p-text-take-out__sec2 h2 {
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 9px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.p-text-take-out__sec2 p {
  display: block;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 10px;
}

.p-text-eat {
  width: 40%;
  min-height: 1193px;
  background-image: url(../images/potatobarger.png);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 70px;
  /*@media screen and (max-width:1265px) {
      width: 380px;
  }
  @media screen and (max-width:1025px) {
      width: 466px;
  }
  @media screen and (max-width:963px) {
      width: 340px;   
  }*/
}
@media screen and (max-width: 600px) {
  .p-text-eat {
    width: 466px;
    margin-top: 20px;
    margin-right: initial;
  }
}
.p-text-eat h1 {
  margin-top: 20px;
  margin-left: 14px;
  font-size: 80px;
  font-weight: bold;
  color: #EAEAEA;
}
@media screen and (max-width: 963px) {
  .p-text-eat h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .p-text-eat h1 {
    font-size: 80px;
  }
}
.p-text-eat h1::after {
  content: "";
  background-color: #ffffff;
  border: #ffffff;
  width: 57px;
  height: 5px;
  display: block;
  margin-top: 57px;
  margin-left: 12px;
}
.p-text-eat__sec1 {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 711px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 16px;
  width: 90%;
  min-height: 166px;
  /*@media screen and (max-width:1265px) {
      width: 360px;
  }
  @media screen and (max-width:1025px) {
      width: 85%;
  }
  @media screen and (max-width:963px) {
      width: 280px;
  }
  @media screen and (max-width:600px) {
      width: 436px;
  }*/
}
.p-text-eat__sec1 h2 {
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 9px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.p-text-eat__sec1 p {
  display: block;
  margin: 0 auto;
  width: 95%;
  word-break: break-all;
  padding-bottom: 10px;
}
.p-text-eat__sec2 {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 16px;
  width: 90%;
  min-height: 166px;
  /*@media screen and (max-width:1265px) {
      width: 360px;
  }
  @media screen and (max-width:1025px) {
      width: 85%;
  }
  @media screen and (max-width:963px) {
      width: 280px;
  }
  @media screen and (max-width:600px) {
      width: 436px;
  }*/
}
.p-text-eat__sec2 h2 {
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 9px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.p-text-eat__sec2 p {
  display: block;
  margin: 0 auto;
  width: 95%;
  word-break: break-all;
  padding-bottom: 10px;
}

.p-sidebar {
  background-color: #F2EDE9;
}
@media screen and (max-width: 1025px) {
  .p-sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: -340px;
    background-color: #F2EDE9;
    z-index: 2;
    overflow-y: scroll;
    padding-bottom: 500px;
  }
}
.p-sidebar h2 {
  font-size: 34px;
  font-weight: bold;
  font-family: "Roboto";
  color: #707070;
  margin-top: 82px;
  margin-left: 34px;
  margin-right: 178px;
  margin-bottom: 85px;
}
@media screen and (max-width: 1025px) {
  .p-sidebar h2 {
    display: none;
  }
}
.p-sidebar a {
  display: none;
}
@media screen and (max-width: 1025px) {
  .p-sidebar a {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 230px;
    margin-top: 18px;
    font-size: 300%;
    background-image: url("../images/cross.png");
    background-repeat: no-repeat;
  }
}
.p-sidebar__barger {
  margin-left: 34px;
  margin-bottom: 40px;
}
.p-sidebar__barger p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #707070;
}
.p-sidebar__barger li {
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  margin-bottom: 23px;
  margin-left: 15px;
}
@media screen and (max-width: 1025px) {
  .p-sidebar__barger {
    margin-top: 212px;
  }
}
.p-sidebar__side {
  margin-left: 34px;
  margin-bottom: 40px;
}
.p-sidebar__side p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #707070;
}
.p-sidebar__side li {
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  margin-bottom: 23px;
  margin-left: 15px;
}
.p-sidebar__drink {
  margin-left: 34px;
  margin-bottom: 40px;
}
.p-sidebar__drink p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #707070;
}
.p-sidebar__drink li {
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  margin-bottom: 23px;
  margin-left: 15px;
}

.open {
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.p-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #9D8670;
}
@media screen and (max-width: 1025px) {
  .p-footer {
    height: 150px;
  }
}
.p-footer h1 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 34px;
}
.p-footer p {
  color: #FFFFFF;
  font-size: 14px;
}

.p-map {
  margin-top: 131px;
  width: 100%;
  background-image: url("../images/map.png");
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 649px;
}
.p-map__double {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 649px;
  width: 60%;
}
@media screen and (max-width: 1025px) {
  .p-map__double {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .p-map__double {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 100%);
  }
}
.p-map__double h1 {
  display: block;
  width: 73%;
  color: #FFFFFF;
  font-size: 36px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 83px;
}
.p-map__double h1::after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: #FFFFFF;
  margin-top: 67px;
  margin-bottom: 63px;
}
.p-map__double p {
  display: block;
  width: 73%;
  line-height: 36px;
  color: #FFFFFF;
  padding-bottom: 70px;
  margin: 0 auto;
}
.p-map__backcolor {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 10;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
}

.fixed {
  position: fixed;
}

.p-archive-menu {
  width: 100%;
  height: 239px;
  background-image: url("../images/chie.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}
@media screen and (max-width: 600px) {
  .p-archive-menu {
    height: 375px;
  }
}
.p-archive-menu h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 86px;
}
.p-archive-menu h1 span {
  vertical-align: middle;
  font-size: 10px;
}

.p-archive-subhedding {
  margin-bottom: 37px;
  margin-left: 50px;
  margin-right: 50px;
}
.p-archive-subhedding h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
  color: #3C2A10;
}
.p-archive-subhedding p {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #3C2A10;
  font-weight: lighter;
}

.p-archive-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-chieze {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1060px;
  min-height: 585px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 600px) {
  .c-chieze {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 471px;
  }
}
@media screen and (min-width: 600px) {
  .c-chieze {
    width: 91%;
  }
}
.c-chieze div {
  background-image: url("../images/chiezee.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 230px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .c-chieze div {
    width: 50%;
    min-height: 471px;
  }
}
.c-chieze__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 471px;
  width: 100%;
  background-color: #3C2B1C;
}
@media screen and (min-width: 600px) {
  .c-chieze__section {
    width: 50%;
  }
}
.c-chieze h1 {
  display: block;
  width: 85%;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  text-align: left;
}
.c-chieze h2 {
  display: block;
  width: 85%;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}
.c-chieze p {
  display: block;
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  font-weight: lighter;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.c-chieze button {
  text-align: center;
  color: #707070;
  background-color: #ffffff;
  width: 200px;
  min-height: 60px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 45px;
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.u-archive-chieze-bottom {
  margin-bottom: 150px;
}

.p-nav-link {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 8px;
  }
}
.p-nav-link p {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-nav-link p {
    display: inline;
    padding-top: 8px;
    color: #707070;
    font-size: 16px;
    font-weight: bold;
  }
}
.p-nav-link__link {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-nav-link__link {
    display: inline;
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    border: solid #000000;
  }
}
.p-nav-link__first {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-nav-link__first {
    display: inline;
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    background-color: #3C2B1C;
    color: #ffffff;
  }
}
.p-nav-link__braket1 {
  margin: auto 0;
  width: 35px;
  height: 25px;
  background-image: url("../images/leftdirection.png");
  background-repeat: no-repeat;
  background-position: center;
}
.p-nav-link__braket2 {
  margin: auto 0;
  width: 35px;
  height: 25px;
  background-image: url("../images/rightdirection.png");
  background-repeat: no-repeat;
  background-position: center;
}
.p-nav-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-nav-link__stand {
  margin: auto 0;
  font-size: 16px;
  font-weight: lighter;
  color: #707070;
  width: 32px;
  height: 22px;
}
@media screen and (min-width: 600px) {
  .p-nav-link__stand {
    display: none;
  }
}

.p-h1-chieze {
  background-image: url("../images/h1chieze.png");
  background-size: cover;
  width: 100%;
  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-h1-chieze h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 86px;
}

.p-single-section {
  width: 100%;
}
.p-single-section h2 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
}
.p-single-section p {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
}
.p-single-section h3 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}
.p-single-section h4 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.p-single-section h5 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.p-single-section h6 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #3C2A10;
  display: block;
  width: 85%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
}

.p-single-quote {
  width: 85%;
  min-height: 319px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: #F5F5F5;
}
.p-single-quote p {
  font-size: 16px;
  font-weight: lighter;
  width: 85%;
  color: #3C2A10;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.p-single-quote span {
  border-bottom: solid;
}

.p-chieze-image-big {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.p-single-imgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  width: 85%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.p-single-imgtext img {
  width: 40%;
  height: 89px;
  display: block;
}
@media screen and (min-width: 600px) {
  .p-single-imgtext img {
    height: 189px;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-imgtext img {
    height: 385px;
  }
}
.p-single-imgtext p {
  display: block;
  font-size: 16px;
  font-weight: lighter;
  width: auto;
}

.p-single-image-y {
  width: 75%;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .p-single-image-y {
    width: 34%;
  }
}

.p-single-img-flex {
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /*&__item1{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item2{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item3{
      padding-bottom: 9px;
  }
  &__item4{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item5{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item6{
      padding-bottom: 9px;
  }
  &__item7{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item8{
      padding-right: 9px;
      padding-bottom: 9px;
  }
  &__item9{
      padding-bottom: 9px;
  }*/
}
.p-single-img-flex img {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  .p-single-img-flex img {
    width: 32%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .p-single-img-flex img {
    width: 49%;
  }
}

.p-single-list-left {
  display: block;
  width: 84%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.p-single-list-left li {
  font-size: 16px;
  color: #3C2A10;
}

.p-single-list-center {
  display: block;
  width: 75%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.p-single-list-center li {
  font-size: 16px;
  color: #3C2A10;
}

.u-single-list {
  margin-top: 40px;
}

.p-single-code {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  height: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-single-code code {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.p-single-code code p {
  font-size: 16px;
  color: #3C2A10;
}

.p-single-table {
  margin-top: 60px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.p-single-table td {
  font-size: 16px;
  color: #3C2A10;
  font-weight: lighter;
}
.p-single-table__left {
  width: 30%;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 27px;
}
.p-single-table__right {
  width: 70%;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 27px;
}

.p-single-button {
  margin-top: 60px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.p-single-button__button {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 104px;
  text-align: center;
  color: #707070;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .p-single-button__button {
    width: 45%;
  }
}

.p-single-bold {
  width: 84%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 16px;
  color: #3C2A10;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 228px;
}

.p-shop {
  background-image: url("../images/shop.png");
  background-size: cover;
  width: 100%;
  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-shop h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 86px;
}
/*# sourceMappingURL=style.css.map */