.p-archive-subhedding{
    margin-bottom: 37px;
    h1{
        font-size: 36px;
        font-weight: bold;
        text-align: left;
        display: block;
        margin: 0 auto;
        width: 95%;
        margin-bottom: 25px;
        color: #3C2A10;
    }
    p{
        font-size: 16px;
        display: block;
        margin: 0 auto;
        width: 95%;
        color: #3C2A10;
        font-weight: lighter;
    }
}