.p-single-imgtext{
    display: flex;
    gap: 5%;
    width: 85%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 40%;
        height: 89px;
        display: block;

        @media screen and (min-width:600px) {
            height: 189px;
        }
        @media screen and (min-width:1025px) {
            height: 385px;
        }
    }
    p{
        display: block;
        font-size: 16px;
        font-weight: lighter;
        width: auto;
    }
}