.p-single-bold{
    width: 84%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
    color: #3C2A10;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 228px;
}